In [67]:
import pandas as pd
import numpy as np

In [8]:
path_death = 'causes_of_death.csv'

df_death = pd.read_csv(path_death)
df_death.head()

   Year  ZIP Code Causes of Death  Count                 Location
0  1999     90002             SUI      1   (33.94969, -118.246213)
1  1999     90005             HOM      1  (34.058508, -118.301197)
2  1999     90006             ALZ      1  (34.049323, -118.291687)
3  1999     90007             ALZ      1  (34.029442, -118.287095)
4  1999     90009             DIA      1      (33.9452, -118.3832)

In [4]:
path_income = 'irs_income_by_zip_code.csv'

df_income = pd.read_csv(path_income)
df_income.head(2)

,STATE,ZIPCODE,Number of returns,Adjusted gross income (AGI),Avg AGI,Number of returns with total income,Total income amount,Avg total income,Number of returns with taxable income,Taxable income amount,Avg taxable income
0,AL,0,2022380,105089761,51.963410,2022380,106420533,52.621433,1468370,67850874,46.208295
1,AL,35004,4930,255534,51.832454,4930,258024,52.337525,4020,163859,40.760945

In [19]:
df_death_final = df_death[['ZIP Code','Causes of Death','Count']]
df_death_final

        ZIP Code Causes of Death  Count
0          90002             SUI      1
1          90005             HOM      1
2          90006             ALZ      1
3          90007             ALZ      1
4          90009             DIA      1
5          90009             LIV      1
6          90009             OTH      1
7          90010             STK      1
8          90010             CLD      1
9          90010             DIA      1
10         90010             LIV      1
11         90012             ALZ      1
12         90012             HOM      1
13         90013             STK      1
14         90014             DIA      1
15         90014             LIV      1
16         90014             SUI      1
17         90015             STK      1
18         90015             DIA      1
19         90015             ALZ      1
20         90015             SUI      1
21         90017             DIA      1
22         90017             ALZ      1
23         90020             ALZ      1
24         90020             SUI      1
25         90021             CLD      1
26         90021             SUI      1
27         90025             LIV      1
28         90031             ALZ      1
29         90033             ALZ      1
...          ...             ...    ...
320122     96145             PNF      0
320123     96145             DIA      0
320124     96145             ALZ      0
320125     96145             LIV      0
320126     96145             SUI      0
320127     96145             HYP      0
320128     96145             HOM      0
320129     96145             NEP      0
320130     96150             HOM      0
320131     96151             STK      0
320132     96151             CLD      0
320133     96151             INJ      0
320134     96151             DIA      0
320135     96151             ALZ      0
320136     96151             LIV      0
320137     96151             SUI      0
320138     96151             HYP      0
320139     96151             HOM      0
320140     96151             NEP      0
320141     96151             OTH      0
320142     96161             CLD      0
320143     96161             PNF      0
320144     96161             HYP      0
320145     96161             HOM      0
320146     96161             NEP      0
320147     99998             HOM      0
320148     99999             ALZ      0
320149     99999             HYP      0
320150     99999             HOM      0
320151     99999             NEP      0

[320152 rows x 3 columns]

In [18]:
df_income_final = df_income[['ZIPCODE', 'Avg AGI']]
df_income_final

       ZIPCODE     Avg AGI
0            0   51.963410
1        35004   51.832454
2        35005   38.905152
3        35006   47.400000
4        35007   53.687073
5        35010   45.492428
6        35014   41.742236
7        35016   46.865007
8        35019   37.536559
9        35020   26.102407
10       35022   54.407692
11       35023   46.572043
12       35031   37.362626
13       35033   49.777612
14       35034   35.873611
15       35035   56.170909
16       35040   49.885694
17       35042   43.104504
18       35043   78.972088
19       35044   38.997785
20       35045   41.477699
21       35046   47.795161
22       35049   46.207792
23       35051   54.002353
24       35053   54.488119
25       35054   62.306358
26       35055   46.950389
27       35057   48.310079
28       35058   46.147700
29       35061   34.121538
...        ...         ...
27760    82922   74.545455
27761    82923   93.561765
27762    82925   89.312500
27763    82930   60.134031
27764    82932   67.703226
27765    82933   59.797297
27766    82935   68.193770
27767    82937   63.079861
27768    82941   80.440083
27769    83001  190.837743
27770    83011   90.235714
27771    83012  118.930435
27772    83013   81.659259
27773    83014  647.291195
27774    83101   63.695804
27775    83110   63.442632
27776    83111   50.030000
27777    83112   57.696296
27778    83113   76.920909
27779    83114   59.439286
27780    83115   71.058621
27781    83118   49.065854
27782    83120   78.966667
27783    83122   43.428571
27784    83123   67.274194
27785    83126   54.506667
27786    83127   62.152857
27787    83128   72.504651
27788    83414  106.965000
27789    99999   86.550327

[27790 rows x 2 columns]

In [78]:
df_max_Crime = grouped.groupby(['ZIP Code']).aggregate(np.max)
df_max_Crime

         Causes of Death  Count
ZIP Code
90001                SUI   1007
90002                SUI   1181
90003                SUI   1449
90004                SUI   1181
90005                SUI    670
90006                SUI   1063
90007                SUI    651
90008                SUI   1593
90009                SUI      2
90010                SUI     62
90011                SUI   1611
90012                SUI    871
90013                SUI    452
90014                SUI    379
90015                SUI    273
90016                SUI   1663
90017                SUI    397
90018                SUI   1916
90019                SUI   1890
90020                SUI    584
90021                SUI    118
90022                SUI   1488
90023                SUI    921
90024                SUI   1068
90025                SUI   1048
90026                SUI   1447
90027                SUI   1831
90028                SUI    965
90029                SUI   1195
90031                SUI   1061
...                  ...    ...
96117                SUI      2
96118                SUI     75
96120                SUI     16
96121                SUI      8
96122                SUI    135
96124                SUI      3
96125                SUI      3
96126                SUI      2
96127                SUI      3
96128                SUI     10
96130                SUI    409
96134                SUI     67
96137                SUI    139
96140                SUI      9
96142                SUI      7
96143                SUI     38
96145                SUI     71
96146                SUI      3
96148                SUI      8
96150                SUI    473
96151                SUI     43
96152                SUI      3
96155                SUI      4
96156                SUI     14
96157                SUI      6
96158                SUI     36
96160                SUI      4
96161                SUI    185
99998                SUI   4244
99999                SUI   7085

[1785 rows x 2 columns]

In [86]:
idx = df_death.groupby(['ZIP Code'])['Count'].transform(max) == df_death['Count']

In [99]:
di = df_death[idx]

df_u = di.drop_duplicates(subset=['ZIP Code', 'Count'], keep='first', inplace=False)
df_final = df_u.loc[df_u['Count'] > 20]
df_final = df_final[['ZIP Code', 'Causes of Death', 'Count']]
df_final

        ZIP Code Causes of Death  Count
185173     93647             HTD     21
185353     91935             CAN     21
185391     93921             HTD     21
185534     95019             HTD     21
185567     96013             HTD     21
185654     94704             HTD     21
185881     93924             HTD     21
186009     95315             HTD     21
186022     96101             OTH     21
186108     94930             CAN     21
186291     92606             CAN     21
186512     91915             CAN     21
186726     95658             HTD     21
186744     90401             HTD     21
186814     93730             HTD     21
186841     95304             HTD     21
187015     93620             HTD     22
187088     92359             HTD     22
187451     95220             HTD     22
187540     93501             HTD     22
187680     94514             CAN     22
187827     95683             CAN     22
187952     90755             HTD     22
188022     94931             CAN     22
188034     95368             HTD     22
188101     93223             OTH     22
188142     96088             CAN     22
188350     95458             OTH     22
188357     95832             OTH     22
188368     96122             OTH     22
...          ...             ...    ...
231776     95076             HTD    173
231778     93309             HTD    173
231784     93308             HTD    174
231788     94501             HTD    175
231789     91342             HTD    175
231796     90805             HTD    177
231800     95240             HTD    177
231804     92683             CAN    178
231811     92345             HTD    179
231824     94109             HTD    182
231835     90044             HTD    184
231840     90706             HTD    187
231857     91335             HTD    192
231877     94558             HTD    200
231882     90740             HTD    202
231883     92804             HTD    202
231895     94112             HTD    208
231896     92586             HTD    208
231904     92637             HTD    215
231909     91910             HTD    218
231913     90650             HTD    220
231925     92544             HTD    229
231928     92392             HTD    231
231936     95350             HTD    241
231941     92545             HTD    247
231942     95608             HTD    249
231962     92543             HTD    292
231990     92653             HTD    380
231991     99998             HTD    388
232017     99999             OTH   1003

[1067 rows x 3 columns]

In [87]:
zip_count_death = df_death['ZIP Code'].nunique()
zip_count_death

1785